@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    background-color: #e9ede5;
}

h1 {
    font-size: 24px;
    letter-spacing: 0.8px;
    line-height: 30px;
    text-align: center;
    margin: 3rem 4rem;
}

h2 {
    font-size: 20px;
    margin: 3.5rem 4rem 1.5rem 4rem;
    letter-spacing: 0.6px;
}

.list-h2 {
    margin-left: 0;
    margin-top: 3rem;
}

h3 {
    font-size: 18px;
    margin: 2rem 4rem 0 4rem;
    letter-spacing: 0.6px;
}

.list-h3 {
    margin-left: 0;
}

.in-text-h3 {
    font-size: 14px;
    margin: 1rem 0 0 1rem;
}

.ul-p {
    margin: .5rem 1rem 1rem 1rem;
}

.ol-p {
    margin: .5rem 1rem 1rem 1rem;
}

p {
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.6px;
    margin: 2rem 3rem 2rem 4rem;
}
 
h4 {
    margin: 0 3rem 0 4rem;
    font-size: 16px;
    letter-spacing: 0.6px;
}

h5 {
    margin: 0 0 0 4rem;
    font-size: 15px;
    letter-spacing: 0.6px;
}

.muscle-p {
    margin-top: .5rem;
}

.ul-border {
    border-bottom: double #586333;
    padding-bottom: 2rem;
}

ol, ul {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.6px;
    margin: 2rem 5rem 2rem 4rem;
}

.list-p {
    margin: 1rem 0 auto 0;
}

.list-p-amz {
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: -0.5rem;
}

.amz-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.a-link {
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin: 0 3rem 2rem 0;
}

.a-link:hover {
    color: #586333;
}

hr {
    color: #586333;
    background-color: #586333;
    height: 2px;
    margin: 0 6rem;
}


/*===========================
           Navbar
============================*/

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: #586333;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.3);
}

.logo-container {
    display: flex;
    align-items: center;
    width: auto;
    margin: 0;
    z-index: 9999;
    position: relative;
}

.logo {
    margin-left: 20px;
}

.logo-txt {
    font-size: 30px;
    line-height: 75px;
    padding-left: 10px;
    font-weight: bold;
    color: white;
}

.nav-list {
    position: absolute;
    width: 36vh;
    height: 0vh;
    top: 40px;
    right: -48px;
    background: #586333;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.nav-list li {
    opacity: 0;
    line-height: 10px;
    margin: 14px 0;
    transition: all .5s;
    list-style: none;
    width: 76%;
    padding-bottom: 25px;
    border-bottom: solid rgba(0, 0, 0, 0.062);
}

.nav-list li a{
    position: relative;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-list li a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: #dda15e;
    transition: width 0.3s;
}

.nav-list li a:hover::before {
    width: 100%;
}

.hamburger-btn, .fas.fa-bars {
    display: block;
    z-index: 9999;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 75px;
    margin-right: 20px;
    cursor: pointer;
}

#check {
    display: none;
}

#check:checked ~ .nav-list {
    height: 70vh;
}

#check:checked ~ .nav-list li{
    opacity: 1;
}

/*===========================
         Main image
============================*/

.coming-soon-p {
    text-align: center;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    margin: 1rem;
}

.hero1-img {
    display: flex;
    margin: 19rem auto 2rem auto;
    z-index: -1;
    position: absolute;
    width: 100%;
}

.hero1-content {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: -19rem;
}

.hero1-h1 {
    margin: 20rem 3rem 3rem 3rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero1-h2 {
    text-align: left;
    margin-top: 0rem;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 100;
    font-size: 16px;
    color: white;
    width: 45%;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1), 
    2px 2px 6px rgba(0, 0, 0, 0.8);
}

.subscribe-form {
    margin: 3rem auto 3rem auto;
}

/*===========================
         Intro text
============================*/

.intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.5);
}

.intro-box {
    position: relative;
    background: white;
    border-radius: 8px;
}

.welcome-span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}

.introbox-text {
    margin: 2rem 2rem 0 2rem;
}

.intro-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
}

.blog-post-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 2rem;
    margin: 3rem auto 3rem auto;
    padding: 0 1rem 1rem 1rem;
}

.blog-post-a {
    display: flex;
    font-size: 12px;
    margin-top: .5rem;
    width: 80%;
}

.img-and-link a {
    text-decoration: none;
    color: black;
  }

.img-and-link a:hover {
    color: #74853e;
}

.img-and-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-and-link img {
    width: 80%;
    height: 80%
}

.recent-posts-h3 {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

/*===========================
          About
============================*/

.about {
    margin: 0 4rem 2rem 4rem;
}

.about-h1 {
    margin: 4rem 2rem 2rem 0;
    text-align: center;
}

.about-p {
    margin: 0;
}

.about-img {
    margin-top: 3rem;
    width: 100%;
}

/*===========================
          Converter
============================*/

.converter-h1 {
    margin-top: 2rem;
}

.converter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.converter-boxes {
    display: flex;
    align-items: center;
}

#distanceInput, .converter-btn, #feetInput, .elevation-btn {
    margin: 0 .3rem 1rem 0;
    padding: .6rem;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.converter-btn, .elevation-btn {
    background: #586333;
    color: white;
}

.converter-btn:hover, .elevation-btn:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.converter-input, .elevation-input {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

#distanceResult, #elevationResult {
    font-size: 16px;
    font-weight: 900;
}

/*Dot*/
.converter-input input[type="radio"] {
    display: none;
  }
  
  .converter-input label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  
  .converter-input label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1.5px solid #586333;
  }
  
  .converter-input input[type="radio"]:checked + label::before {
    background-color: #586333;
  }
  
/*===========================
          Blog posts
============================*/

.blog-post-h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    background: #586333;
    color: white;
    margin: 2rem 4rem 3rem 4rem;
    border-radius: 5px;
    box-shadow: 5px 6px 12px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.box-text {
    padding: 1.5rem 1.8rem;
    margin: 0;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.blogpost-img1 {
    display: flex;
    margin: 2rem 4rem auto 4rem;
    width: 75%;
}

.blogpost-img2 {
    display: flex;
    margin: 2rem 4rem auto 4rem;
    width: 75%;
}

.blogpost-img3 {
    display: flex;
    margin: -1rem auto;
    width: 35%;
}

.blogpost-img4 {
    display: flex;
    margin: auto;
    width: 65%;
}

.blogpost-img5 {
    margin: auto;
    width: 60%;
}

.image-and-alt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*7-gear-items and shoes*/

.shoes-h1 {
    display: flex;
    margin-left: 4rem;
}

.img-and-text-beg-shoes {
    display: flex;
    align-items: center;
}

.flex-shoes-w, .flex-shoes-m {
    flex: 1;
    text-align: center;
}

.flex-shoes-w img, .flex-shoes-m img {
    margin-top: -1rem;
}

.flex-shoes-w .alt-text, .flex-shoes-m .alt-text {
    text-align: center;
    font-size: 10px;
    margin-top: -0.5rem;
}

.shoe-link2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    margin: auto -3rem;
}

.shoe-link2:hover {
    text-decoration: underline;
}

.alt-text {
    font-size: 12px;
    line-height: 16px;
    padding-top: .3rem;
}

/*Beginner-marathons*/

table {
    margin: 3rem auto;
    border-collapse: collapse;
    width: 80%;
    padding: 5rem;
}

th, td {
    border: 1px solid #586333;
    padding: 2rem 1rem;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
}

th {
    background: #586333;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}

.number-and-h3 {
    display: flex;
    flex-direction: column;
    margin: 1rem 4rem -1rem 4rem;
    line-height: 32px;
}

.number {
    background-color: #bc6c25;
    color: white;
    border-radius: 50%;
    width: 18%;
    font-weight: bold;
    padding: .4rem .5rem;
    font-size: 22px;
    margin: 1rem auto;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);

}

.table-number {
    float: left;
}

.marathon-list-h3 {
    font-size: 20px;
    color: #586333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin: 0;
    text-align: center;
}

.marathon-link {
    color: black;
}

/*Beginner shoes*/

.beg-shoe-p {
    margin: 1.5rem 3rem 1.5rem 3rem;
}

.beginner-shoes {
    margin: -1rem auto -1rem auto;
}

.shoe-img1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -4rem auto -4rem auto;
}

.hangingshoe-img {
    width: 80%;
}

/*Starting*/

.grouprunning-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grouprunning-image {
    width: 75%;
}

/*Exercises*/

.h3-p-and-picture {
    display: flex;
    flex-direction: column;
}

.exercise-number-and-h3 {
    display: flex;
    flex-direction: column;
    line-height: 32px;
    border-top: solid #5863333b;
    margin: 1rem 4rem;
}

.exercises {
    width: 40vh;
    margin: -2rem auto 1rem auto;
}

.exercises-plank {
    width: 50vh;
    margin: -2rem auto auto auto;
}

.number-exercises {
    border: solid #bc6c25;
    background-color: white;
    color: #586333;
    border-radius: 50%;
    width: 12%;
    font-weight: bold;
    padding: .4rem .5rem;
    font-size: 22px;
    margin: 4rem auto 1rem auto;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
}

.h4-and-text {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.muscles-img {
    width: 15vh;
    margin: -1rem auto 3rem 4rem;
}

.muscles-img-small {
    width: 25vh;
    margin: -1rem auto 3rem 4rem;
}

.exercises-p {
    margin: 2rem 0;
}

.exercises-p-step-ups {
    margin: 2rem 2rem 2rem 0;
}

.affiliate-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 4rem 4rem 4rem;
}

/*Motivation*/
.ol-amz-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.amz-text-link {
    color: black;
    text-decoration: none;
}

.amz-text-link:hover {
    color: black;
    text-decoration: underline;
}

/*===========================
          Footer
============================*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #586333;
    color: white;
    height: 7rem;
    bottom: 0;
    width: 100%;
}

.footer-container-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 12vh;
    padding: .5rem;
    border-right: solid 1px white;
}

.amz-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text {
    font-size: 11px;
}

.disclaimer-link {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 11px;
    padding: .3rem;
}

.disclaimer {
    margin: 4rem;
}

.amz-p {
    width: 6rem;
    margin: 1.5rem 1.5rem 1.5rem 1rem;
    font-size: 11px;
    line-height: 15px;
}

.privacy-policy a {
    font-size: 11px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }

@media screen and (min-width: 620px) { 

.hero1-content {
    margin-top: -19rem;
}

.hero1-img {
    margin: 19rem auto 2rem auto;
}

.hero1-h1 {
    margin-top: 22rem;
    font-size: 26px;
}

.hero1-h2 {
    margin-top: 16rem;
    margin-left: 10rem;
    font-size: 16px;
}

}

/*iPad screen size*/

@media screen and (min-width: 750px) { 
    h1 {
        font-size: 28px;
        line-height: 40px;
        margin-left: 6rem;
        margin-right: 6rem;
    }

    h2 {
        font-size: 24px;
        margin: 1rem 5rem 1.5rem 6rem;
    }

    h3{
        font-size: 20px;
        margin-left: 6rem;
    }

    p {
        font-size: 14px;
        margin: 1rem 5rem 3rem 6rem;
        line-height: 30px;
    }

    .a-link {
        margin: 0 4rem 3rem 0;
    }

    .list-h2 {
        margin: 3rem 6rem 3rem 1rem;

    }

    .list-h3 {
        margin: auto 6rem 0 0;
    }

    .list-p {
        margin: -1rem 6rem 2rem 2rem;
    }

    ul, ol {
        font-size: 14px;
        margin: 3rem 0 2rem 6rem;
        line-height: 60px;
    }

    .in-text-h3 {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 1rem;þ
    }
    
    .ul-p {
        margin: -0.5rem 3rem 1rem 1rem;
    }

    .amz-link-text {
        margin-bottom: 3rem;
    }

    li {
        margin-bottom: 1rem;
    }

    .ul-border {
        margin: 3rem 6rem 3rem 6rem;
    }

    .about-h1 {
        margin: 4rem 2rem 4rem 0;
    }

    .about-p {
        margin-left: 0;
    }

    .intro-p {
        margin: 5rem 1rem 1rem 6rem; 
    }

    .blogpost-img1 {
        margin: 2rem -2rem 2rem 1rem;
    }

    .muscles-h3 {
        margin: 0 3rem 0 6rem;
    }

    h4 {
        margin: 0 3rem 0 6rem;
        font-size: 18px;
    }

    h5 {
        margin: 0 0 0 6rem;
        font-size: 16px;
    }

/*===========================
   Navbar and main image
============================*/

    .coming-soon-p {
        font-size: 20px;
    }

    .hero1-content {
        margin-top: -19rem;
    }

    .hero1-img {
        margin: 19rem auto 2rem auto;
    }

    .hero1-h1 {
        font-size: 36px;
        line-height: 60px;
    }

    .hero1-h2 {
        margin: 6rem auto;
        font-size: 24px;
        line-height: 36px;
    }

    .intro-container {
        margin-bottom: 3rem;
    }

    .welcome-span {
        font-size: 18px;
    }

    .blog-post-container a {
        font-size: 14px;
    }

    /*Sidebar*/

/*===========================
        Converter
============================*/

    .converters {
        display: flex;
        justify-content: center;
        margin: auto 4rem;
    }


/*===========================
       Starting page
============================*/

    .text-img-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 4rem;
    }

    .starting-img {
        max-width: 40%;
    }

    .text-content {
        margin-right: 20px;
    }

    .about {
        display: flex;
    }

    .about-p {
        margin-right: -3rem;
    }

    .about-img {
        width: 80%;
        float: right;
        margin-top: 4rem;
    }

/*===========================
          Blog Posts
============================*/

.box {
    margin: 2rem 6rem 3rem 6rem;
}

.box-text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.8px;
}

.blog-post-h1 {
    display: flex;
    flex-direction: row;
}

.blogpost-img1 {
    width: 65vh;
    margin: 5rem 2rem auto 1rem;
}

.blogpost-img2 {
    margin: 2rem 3rem 4rem 6rem;
    width: 110vh;
}

.blogpost-img5 {
    width: 40%;
    margin: 4rem 4rem auto -4rem;
}

.shoes-h1 {
    display: flex;
    margin: 4rem 5rem 4rem 4rem;
}

.image-and-alt {
    margin: 3rem auto;
}

/*7-gear-items*/
.img-and-text {
    display: flex;
}

th, td {
    font-size: 14px;
}

.shoe-img1 {
    margin: -7rem auto -7rem auto;
}

.shoe-link2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto -3rem;
}

.alt-text {
    margin-top: -1.8rem;
}

/*Starting*/
.grouprunning-image {
    width: 70%;
    margin-top: 2rem;
}

/*Marathons for beginners*/

table {
    width: 80%;
}

.number-and-h3 {
    margin: 2rem 4rem 1rem 6rem;
}

.marathon-list-h3 {
    font-size: 26px;
}

.number {
    width: 10%;
    font-size: 26px;
}

.table-number {
    margin-left: 1rem;
}

/*Exercises*/

.text-and-picture {
    display: flex;
    flex-direction: row;
}

.h3-p-and-picture {
    display: flex;
    flex-direction: row;
}

.exercises {
    width: 50vh;
    margin: auto;
}

.exercises-plank {
    width: 50vh;
    margin: auto auto auto 3rem;
}

.exercises-p {
    margin: 2rem -3rem 2rem 2rem;
}

.h4-and-text {
    display: flex;
    flex-direction: row;
}

.muscles-img {
    margin: auto 5rem 3rem -3rem;
}

.muscles-img-small {
    margin: auto 5rem 3rem -3rem;
}

.exercise-number-and-h3 {
    border-top: none;
}

.affiliate-links {
    display: flex;
    justify-content: space-between;
    margin: auto 10rem 4rem 6rem;
}

/*Motivation*/
.ol-amz-img {
    margin: 2rem;
}

/*==============================
             Footer
==============================*/

.footer-container {
    margin: auto 2rem;
    border: none;
}

.footer-text {
    margin-top: 3rem;
}

}

@media screen and (min-width: 925px) { 

    .intro-p {
        margin: 3rem 1rem 1rem 6rem; 
    }

    .hero1-img {
        margin: 19rem auto 2rem auto;
    }

    .hero1-h2 {
        margin-top: 22rem;
        margin-left: 6rem;
        font-size: 18px;
        line-height: 30px;
    }

.hamburger-btn {
    display: none;
}

.nav-list {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    background: transparent;
    width: 100%;
    height: 5rem;
    margin: -31px 70px 0 0;
    box-shadow: none;
}

.nav-list li {
    display: inline-block;
    opacity: 1;
    line-height: 22px;
    padding: 0px 20px 20px 20px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-bottom: none;
    width: 14%;
}

}

/*Desktop screen size*/

@media screen and (min-width: 1000px) { 
    h1 {
        font-size: 36px;
        margin-left: 14rem;
        margin-right: 14rem;
        line-height: 60px;
    }
    
    h2 {
        font-size: 26px;
        margin-top: 3rem;
    }

    p {
        font-size: 15px;
    }

    .in-text-h3 {
        font-size: 18px;
    }
    
    .ul-p {
        margin: -0.5rem 3rem 1rem 1rem;
    }

    .subscribe-form {
        width: 80%;
    }

/*===========================
   Navbar and main image
============================*/

.hero1-h1 {
    margin-top: 22rem;
    font-size: 30px;
}

.hero1-h2 {
    margin-top: 18rem;
    margin-left: 16rem;
    font-size: 20px;
    line-height: 30px;
}

    .intro-container {
        margin-top: 2rem;
    }

    .welcome-span {
        font-size: 20px;
    }

/*===========================
        Blog Posts
============================*/

.box-text {
    font-size: 18px;
}

.blogpost-img1 {
    width: 80vh;
    margin-top: 3rem;
}

.blogpost-img2 {
    width: 125vh;
}

.content-and-sidebar {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 230%;
    margin: 2rem auto 4rem auto;
    border-left: solid rgba(0, 0, 0, 0.089);
}

/*Starting*/
.grouprunning-image {
    width: 80%;
    margin-top: 2rem;
}

/*beginner marathons*/

.number-and-h3 {
    margin: 2rem 4rem 2rem 6rem;
}

.marathon-list-h3 {
    font-size: 30px;
}

.number {
    width: 8%;
    font-size: 28px;
}

.distance-converter {
    margin-right: -6rem;
}

.elevation-converter {
    margin-left: -6rem;
}

/*==============================
             Footer
==============================*/

.footer-container {
    margin: auto 4rem;
    border: none;
}
}

@media screen and (min-width: 1200px) { 
    /*===========================
   Navbar and main image
============================*/

.hero1-h1 {
    margin-top: 22rem;
    font-size: 36px;
}

.hero1-h2 {
    margin-top: 28rem;
    margin-left: 22rem;
    font-size: 26px;
    line-height: 42px;
    margin-bottom: -4rem;
}

    .intro-container {
        margin-top: 12rem;
    }

    .sidebar {
        width: 200%;
    }

/*==============================
             Footer
==============================*/

.footer-container {
    margin: auto 6rem;
    border: none;
}


}

