@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    background-color: #e9ede5;
}

h1 {
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 30px;
    text-align: center;
    margin: 3rem 6rem;
}

h2 {
    font-size: 16px;
    margin: 3.5rem 4rem 1.5rem 4rem;
    letter-spacing: 0.6px;
}

.list-h2 {
    margin-left: 0;
    margin-top: 3rem;
}

h3 {
    font-size: 14px;
    margin: 2rem 4rem 0 4rem;
}

.list-h3 {
    margin-left: 0;
}

.in-text-h3 {
    font-size: 13px;
    margin: 1rem 0 0 1rem;
}

.ul-p {
    margin: .5rem 1rem 1rem 1rem;
}

p {
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.6px;
    margin: 2rem 4rem 2rem 4rem;
}

ul {
    margin: 2rem 5rem 2rem 4rem;
}

.ul-border {
    border-bottom: double #586333;
    padding-bottom: 2rem;
}

ol {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.6px;
    margin: 2rem 4rem 2rem 4rem;
}

.list-p {
    margin: 1rem 0 auto 0;
}

.list-p-amz {
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: -0.5rem;
}

.amz-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.a-link {
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin: 0 3rem 2rem 0;
}

.a-link:hover {
    color: #586333;
}


/*===========================
           Navbar
============================*/

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: #586333;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.3);
}

.logo-container {
    display: flex;
    align-items: center;
    width: auto;
    margin: 0;
    z-index: 9999;
    position: relative;
}

.logo {
    margin-left: 20px;
}

.logo-txt {
    font-size: 30px;
    line-height: 75px;
    padding-left: 10px;
    font-weight: bold;
    color: white;
}

.nav-list {
    position: absolute;
    width: 36vh;
    height: 0vh;
    top: 40px;
    right: -48px;
    background: #586333;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.nav-list li {
    opacity: 0;
    line-height: 10px;
    margin: 14px 0;
    transition: all .5s;
    list-style: none;
    width: 76%;
    padding-bottom: 25px;
    border-bottom: solid rgba(0, 0, 0, 0.062);
}

.nav-list li a{
    position: relative;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-list li a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: #dda15e;
    transition: width 0.3s;
}

.nav-list li a:hover::before {
    width: 100%;
}

.hamburger-btn, .fas.fa-bars {
    display: block;
    z-index: 9999;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 75px;
    margin-right: 20px;
    cursor: pointer;
}

#check {
    display: none;
}

#check:checked ~ .nav-list {
    height: 70vh;
}

#check:checked ~ .nav-list li{
    opacity: 1;
}

/*===========================
         Main image
============================*/

/*.coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid #586333;
}

.coming-soon-h1 {
    margin-top: 1rem;
    margin-bottom: -0.5rem;
    font-size: 36px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    animation: colorChange 3s infinite;
}

@keyframes colorChange {
    0% {color: black;}
    50% {color: #FF7F50;} 
    100% {color: black;}
}*/

.coming-soon-p {
    text-align: center;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    margin: 1rem;
}

.hero1-img {
    display: flex;
    margin: 19rem auto 2rem auto;
    z-index: -1;
    position: absolute;
    width: 100%;
}

.hero1-content {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: -19rem;
}

.hero1-h1 {
    margin-top: 20rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero1-h1-1 {
    text-align: left;
    margin-top: 2rem;
    margin-left: 2rem;
    padding-bottom: 1rem;
    font-weight: 100;
    font-size: 24px;
    color: white;
    width: 75%;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1), 
    2px 2px 6px rgba(0, 0, 0, 0.8);
}

.hero1-h2 {
    text-align: left;
    margin-top: 0rem;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 100;
    font-size: 16px;
    color: white;
    width: 45%;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1), 
    2px 2px 6px rgba(0, 0, 0, 0.8);
}

.subscribe-form {
    margin: 3rem auto 3rem auto;
}

/*===========================
         Subscribe
============================*/

/*.subscribe {

}

.subscribe-p {
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1), 
    2px 2px 6px rgba(0, 0, 0, 0.8);
    margin: 0 8rem 0 8rem;
    font-size: 14px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: fit-content;
}

form input {
    border: 0;
    border-radius: 6px 0 0 6px;
    outline: none;
    padding: 10px 20px;
    height: 40px;
    width: 300px;
    font-size: 14px;
}

form button {
    background: #586333;
    border: none;
    border-radius: 0 6px 6px 0;
    outline: none;
    height: 40px;
    width: 70px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

form button:hover {
    background: #74853e;
    transition: .5s;
}*/

/*===========================
         Intro text
============================*/

.intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.5);
}

.intro-box {
    position: relative;
    background: white;
    border-radius: 8px;
}

.welcome-span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}

.introbox-text {
}

.intro-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem 1rem 2rem;
}

.blog-post-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 2rem;
    margin: 3rem auto 3rem auto;
    padding: 0 1rem 1rem 1rem;
}

.blog-post-a {
    display: flex;
    font-size: 12px;
    margin-top: .5rem;
    width: 80%;
}

.img-and-link a {
    text-decoration: none;
    color: black;
  }

.img-and-link a:hover {
    color: #74853e;
}

.img-and-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-and-link img {
    width: 80%;
    height: 80%
}

.recent-posts-h3 {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

/*===========================
          About
============================*/

.about {
    margin: 0 4rem 2rem 4rem;
}

.about-h1 {
    margin: 4rem 2rem 2rem 0;
    text-align: left;
}

.about-p {
    margin: 0;
}

.about-img {
    margin-top: 3rem;
    width: 100%;
}

/*===========================
          Converter
============================*/

.converter-h1 {
    margin-top: 2rem;
}

.converter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.converter-boxes {
    display: flex;
    align-items: center;
}

#distanceInput, .converter-btn, #feetInput, .elevation-btn {
    margin: 0 .3rem 1rem 0;
    padding: .6rem;
    border-radius: 6px;
    border: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.converter-btn, .elevation-btn {
    background: #586333;
    color: white;
}

.converter-btn:hover, .elevation-btn:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.converter-input, .elevation-input {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

#distanceResult, #elevationResult {
    font-size: 16px;
    font-weight: 900;
}

/*Dot*/
.converter-input input[type="radio"] {
    display: none;
  }
  
  .converter-input label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  
  .converter-input label::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1.5px solid #586333;
  }
  
  .converter-input input[type="radio"]:checked + label::before {
    background-color: #586333;
  }
  
/*===========================
          Blog posts
============================*/

.box {
    background: #586333;
    color: white;
    margin: 2rem 4rem 3rem 4rem;
    border-radius: 5px;
    box-shadow: 5px 6px 12px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.box-text {
    padding: 1.5rem 0 1.5rem 0;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.blogpost-img1 {
    display: flex;
    margin: 2rem 4rem auto 4rem;
    margin-top: 2rem;
    width: 65vh;
}

.blogpost-img2 {
    display: flex;
    margin: 2rem 4rem auto 4rem;
    margin-top: 2rem;
    width: 65vh;
}

/*7-gear-items*/

.img-and-text-beg-shoes {
    display: flex;
    align-items: center;
}

.flex-shoes-w, .flex-shoes-m {
    flex: 1;
    text-align: center;
}

.flex-shoes-w img, .flex-shoes-m img {
    margin-top: -1rem;
}

.flex-shoes-w .alt-text, .flex-shoes-m .alt-text {
    text-align: center;
    font-size: 10px;
    margin-top: -0.5rem;
}

.shoe-link2 {
    color: black;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}

.shoe-link2:hover {
    text-decoration: underline;
}

/*Beginner-marathons*/

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    padding: 5rem;
}

th, td {
    border: 1px solid black;
    padding: 16px;
    text-align: center;
    font-size: 12px;
}

.number-and-h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 3rem -1rem -2rem;
}

.number {
    border: solid #bc6c25;
    border-radius: 50%;
    width: 10%;
    padding: .3rem .8rem;
    margin-right: 1rem;
}

.marathon-list-h3 {
    font-size: 22px;
    color: #bc6c25;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
    text-align: center;
    padding: 2rem;
    width: 100%;
}

/*Beginner shoes*/

.beg-shoe-p {
    margin: 1.5rem 3rem 1.5rem 3rem;
}

.beginner-shoes {
    margin: -1rem auto -1rem auto;
}

.shoe-img1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -4rem auto -4rem auto;
}

.hangingshoe-img {
    width: 80%;
}

/*Starting*/

.grouprunning-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grouprunning-image {
    width: 84%;
}

/*===========================
          Footer
============================*/

footer {
    display: flex;
    background: #586333;
    color: white;
    height: 7rem;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 33%;
    height: 3rem;
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.disclaimer-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.3%;
    margin: auto 1rem auto 2rem;

}

.disclaimer-link {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 10px;
    padding: .2rem;
}

.disclaimer {
    margin: 4rem;
}

.amz-disclaimer {
    width: 33.3%;
}

.amz-p {
    width: 6rem;
    margin: 1.5rem 1.5rem 1.5rem 1rem;
    font-size: 10px;
    line-height: 15px;
}

.privacy-policy a {
    font-size: 10px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }

@media screen and (min-width: 620px) { 

.hero1-content {
    margin-top: -19rem;
}

.hero1-img {
    margin: 19rem auto 2rem auto;
}

.hero1-h1 {
    margin-top: 22rem;
    font-size: 26px;
}

.hero1-h2 {
    margin-top: 16rem;
    margin-left: 10rem;
    font-size: 16px;
}
}

/*iPad screen size*/

@media screen and (min-width: 750px) { 
    h1 {
        font-size: 26px;
        line-height: 40px;
        margin-left: 6rem;
        margin-right: 6rem;
    }

    h2 {
        font-size: 20px;
        margin: 1rem 5rem 1.5rem 6rem;
    }

    h3{
        font-size: 16px;
    }

    p {
        font-size: 14px;
        margin: 1rem 5rem 3rem 6rem;
        line-height: 30px;
    }

    .a-link {
        margin: 0 4rem 3rem 0;
    }

    .list-h2 {
        margin: 3rem 6rem 3rem 1rem;

    }

    .list-h3 {
        margin: auto 6rem 0 0;
    }

    .list-p {
        margin: -1rem 6rem 2rem 2rem;
    }

    ol {
        font-size: 16px;
        margin: 3rem 3rem 2rem 4rem;
        line-height: 60px;
    }

    ul {
        font-size: 14px;
        margin: 3rem 0 2rem 6rem;
        line-height: 60px;
    }



    .in-text-h3 {
        font-size: 15px;
        margin: 0 0 0 1rem;
    }
    
    .ul-p {
        margin: -0.5rem 3rem 1rem 1rem;
    }

    .ul-border {
        margin: 3rem 6rem 3rem 6rem;
    }

    .about-h1 {
        margin: 4rem 2rem 4rem 0;
    }

    .about-p {
        margin-left: 0;
    }

    .intro-p {
        margin: 1rem 0 3rem 6rem;   
    }

    .blogpost-img1 {
        margin-top: 1rem;
    }

/*===========================
   Navbar and main image
============================*/

    .coming-soon-p {
        font-size: 20px;
    }

    .hero1-content {
        margin-top: -19rem;
    }

    .hero1-img {
        margin: 19rem auto 2rem auto;
    }

    .hero1-h1 {
        font-size: 36px;
        line-height: 60px;
    }

    .hero1-h2 {
        margin: 6rem auto;
        font-size: 24px;
        line-height: 36px;
    }

    .intro-container {
        margin-bottom: 3rem;
    }

    .welcome-span {
        font-size: 18px;
    }

    .blog-post-container a {
        font-size: 14px;
    }

    /*Sidebar*/

/*===========================
        Converter
============================*/

    .converters {
        display: flex;
        justify-content: center;
    }

    .distance-converter, .elevation-converter {
        margin: 0 3rem;
    }


/*===========================
       Starting page
============================*/

    .text-img-container {
        display: flex;
        flex-direction: row;
    }

    .starting-img {
        max-width: 40%;
    }

    .text-content {
        margin-right: 20px;
    }

    .about {
        display: flex;
    }

    .about-p {
        margin-right: -3rem;
    }

    .about-img {
        width: 80%;
        float: right;
        margin-top: 4rem;
    }

/*===========================
          Blog Posts
============================*/

.box {
    margin: 2rem 6rem 3rem 6rem;
}

.box-text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.8px;
}

.blogpost-img2 {
    margin: 2rem 3rem 4rem 6rem;
    width: 110vh;
}

/*7-gear-items*/
.img-and-text {
    display: flex;
}

.shoe-text {
    margin-left: 1rem;
}

th, td {
    font-size: 14px;
}

.shoe-img1 {
    margin: -7rem auto -7rem auto;
}

/*Starting*/
.grouprunning-image {
    width: 70%;
    margin-top: 2rem;
}

/*Marathons for beginners*/

table {
    width: 80%;
}

.number-and-h3 {
    margin: 2rem 3rem 1rem -3rem;
}

.marathon-list-h3 {
    font-size: 26px;
}

}

@media screen and (min-width: 925px) { 

    .hero1-img {
        margin: 19rem auto 2rem auto;
    }

    .hero1-h2 {
        margin-top: 22rem;
        margin-left: 6rem;
        font-size: 18px;
        line-height: 30px;
    }

.hamburger-btn {
    display: none;
}

.nav-list {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    background: transparent;
    width: 100%;
    height: 5rem;
    margin: -31px 70px 0 0;
    box-shadow: none;
}

.nav-list li {
    display: inline-block;
    opacity: 1;
    line-height: 25px;
    padding: 0px 20px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-bottom: none;
    width: 14%;
}
}

/*Desktop screen size*/

@media screen and (min-width: 1000px) { 
    h1 {
        font-size: 34px;
        margin-left: 14rem;
        margin-right: 14rem;
        line-height: 60px;
    }
    
    h2 {
        font-size: 22px;
        margin-top: 3rem;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }

    .in-text-h3 {
        font-size: 16px;
        margin: 0 0 0 1rem;
    }
    
    .ul-p {
        margin: -0.5rem 3rem 1rem 1rem;
    }

/*===========================
   Navbar and main image
============================*/

.hero1-h1 {
    margin-top: 22rem;
    font-size: 30px;
}

.hero1-h2 {
    margin-top: 18rem;
    margin-left: 16rem;
    font-size: 20px;
    line-height: 30px;
}

    .intro-container {
        margin-top: 2rem;
    }

    .welcome-span {
        font-size: 20px;
    }

/*===========================
        Blog Posts
============================*/

.box-text {
    font-size: 18px;
}

.blogpost-img2 {
    width: 125vh;
}

.content-and-sidebar {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 120%;
    margin: 2rem auto 4rem auto;
    border-left: solid rgba(0, 0, 0, 0.089);
}

/*Starting*/
.grouprunning-image {
    width: 80%;
    margin-top: 2rem;
}

.intro-p {
    margin: 1rem 1rem 3rem 6rem;   
}

.blogpost-img1 {
    width: 90vh;
    margin-top: 3rem;
}

/*beginner marathons*/

.number-and-h3 {
    margin: 2rem 3rem 2rem -3rem;
}

.marathon-list-h3 {
    font-size: 30px;
}

}

@media screen and (min-width: 1200px) { 
    /*===========================
   Navbar and main image
============================*/

.hero1-h1 {
    margin-top: 22rem;
    font-size: 36px;
}

.hero1-h2 {
    margin-top: 28rem;
    margin-left: 22rem;
    font-size: 26px;
    line-height: 42px;
    margin-bottom: -4rem;
}

    .intro-container {
        margin-top: 12rem;
    }


    }

