@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    background-color: #e9ede5;
}

h1 {
    font-size: 20px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

h2 {
    font-size: 16px;
    margin: 2rem 0 .8rem 0;
    letter-spacing: 0.6px;
}

h3 {
    text-align: center;
    font-size: 18px;
    margin: 3rem 0 1rem 0;
}

p, ol {
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.6px;
    font-weight: 100;
}

ul.bullet {
    list-style-type: none; /* Remove default bullets */
  }
  
  ul.bullet li {
    position: relative;
  }
  
  ul.bullet li:before {
    content: ''; 
    position: absolute; 
    left: -1rem; 
    top: 8%; /* Vertically center the pseudo-element */
    width: 7px; 
    height: 7px; 
    border-radius: 50%;
    border: 1px solid black;     
    background-color: #e9ede5; 
  }
  

/*===========================
           Navbar
============================*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: #586333;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 4rem;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.logo {
    text-align: left;
}

.ahref {
    color: white;
    text-decoration: none;
    margin: auto 0 auto 1rem;
    font-size: 12px;
    letter-spacing: 0.6px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    display: inline-block;
}

.ahref span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Control the distance of the line from the text */
    width: 0;
    height: 2px; /* Control the thickness of the line */
    background-color: #dda15e;
    transform-origin: left;
    transition: width 0.3s ease-in-out;
}
      
.ahref span:hover::after {
    width: 100%;
}

/*===========================
         Main image
============================*/

.coming-soon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid #586333;
}

.coming-soon-h1 {
    font-size: 36px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    animation: colorChange 3s infinite;
}

@keyframes colorChange {
    0% {color: black;}
    50% {color: #FF7F50;} 
    100% {color: black;}
}

.coming-soon-p {
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero1-img {
    display: flex;
    margin: 0 auto 2rem auto;
    max-width: 100%;
    height: auto;
    z-index: -1;
}

.hero1-content {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: -19rem;
}

.hero-h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero1-h2 {
    margin-top: 6rem;
    margin-left: -7rem;
    font-weight: 100;
    font-size: 14px;
    color: white;
    width: 45%;
    border-radius: 10px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1), 
    2px 2px 6px rgba(0, 0, 0, 0.8);}

/*===========================
         Intro text
============================*/

.intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
}

.intro-box {
    padding: 1.5rem;
    background: white;
    border-radius: 8px;
}

.welcome-span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}

.introbox-text {
    margin-bottom: -2.5rem;
}

.intro-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 4rem 1rem 4rem;
}

.blog-post-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.blog-post-container a {
    margin: 0 4rem 0 4rem;
    text-decoration: none;
    color: black;
}

/*===========================
          Blog posts
============================*/

.blog-post-h1 {
    margin: 4rem;
}
.blog-post {
    margin-bottom: 1.5rem;
}

.starting-img {
    max-width: 100%;
}

/*===========================
          Footer
============================*/

.footer-container {
    width: 100%;
    height: 5rem;
    background: #586333;
    color: white;
    margin: 2rem 0 0 0;
    z-index: -1;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    font-size: 12px;
}

.disclaimer-link {
    display: flex;
    align-items: center;
    justify-content: right;
    text-decoration: none;
    color: white;
    z-index: 1;
    margin: -4rem 2rem 0 0;
    font-size: 12px;
}

.disclaimer {
    margin: 4rem;
}

@media screen and (min-width: 750px) { 
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

/*===========================
   Navbar and main image
============================*/

    .ahref {
        font-size: 14px;
    }

    .hero1-content {
        margin-top: -36rem;
    }

    .hero1-h2 {
        margin-top: 18rem;
        margin-left: -12rem;
        font-size: 20px;
    }

    .intro-container {
        margin-top: 6rem;
    }

    .welcome-span {
        font-size: 18px;
    }

/*===========================
       Starting page
============================*/

    .text-img-container {
        display: flex;
        flex-direction: row;
    }

    .starting-img {
        max-width: 40%;
    }

    .text-content {
        margin-right: 20px;
    }
}

@media screen and (min-width: 1000px) { 
    h1 {
        font-size: 34px;
    }
    
    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

/*===========================
   Navbar and main image
============================*/

    .ahref {
        font-size: 16px;
    }

    .hero1-content {
        margin-top: -48rem;
    }

    .hero1-h2 {
        margin-top: 24rem;
        margin-left: -16rem;
        font-size: 24px;
    }

    .intro-container {
        margin-top: 10rem;
    }

    .welcome-span {
        font-size: 20px;
    }

/*===========================
       Starting page
============================*/

    .starting-img {
        max-width: 60%;
    }
}

@media screen and (min-width: 1200px) { 
    /*===========================
   Navbar and main image
============================*/

    .hero1-content {
        margin-top: -58rem;
    }

    .hero1-h2 {
        margin-top: 32rem;
        margin-left: -16rem;
        font-size: 24px;
    }

    .intro-container {
        margin-top: 12rem;
    }


    }

